#!/bin/sh
### BEGIN INIT INFO
# Provides:          <%= @component %> exporter
# Required-Start:    $local_fs $network $named $time $syslog
# Required-Stop:     $local_fs $network $named $time $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Description:       <%= @component %> exporter for prometheus written in Go
### END INIT INFO

DAEMON=/opt/<%= @component %>/<%= @component %>
NAME=<%= @component %>
USER=prometheus
LOGFILE=/var/log/prometheus/$NAME.log

. /etc/init.d/functions

ARGS=""
[ -r /etc/sysconfig/$NAME ] && . /etc/sysconfig/$NAME

do_start_prepare()
{
    mkdir -p `dirname $LOGFILE` || true
    chown -R $USER: `dirname $LOGFILE`
}

do_start_cmd()
{
    do_start_prepare
    echo -n "Starting daemon: "$NAME
	daemon --user $USER "($DAEMON $ARGS >> $LOGFILE 2>&1 &)"
	echo "."
}

do_stop_cmd()
{
    echo -n "Stopping daemon: "$NAME
	pkill -u $USER -f $DAEMON
    echo "."
}

uninstall() {
  echo -n "Are you really sure you want to uninstall this service? That cannot be undone. [yes|No] "
  local SURE
  read SURE
  if [ "$SURE" = "yes" ]; then
    stop
    echo "Notice: log file was not removed: '$LOGFILE'" >&2
    update-rc.d -f <NAME> remove
    rm -fv "$0"
  fi
}

status() {
        printf "%-50s" "Checking $NAME..."
	pgrep -u $USER -f $DAEMON > /dev/null
	if [ $? -eq 0 ]; then
		echo "Running"
	else
		echo "Stopped"
		exit 1
	fi
}


case "$1" in
  start)
    do_start_cmd
    ;;
  stop)
    do_stop_cmd
    ;;
  status)
    status
    ;;
  uninstall)
    uninstall
    ;;
  restart)
    stop
    start
    ;;
  *)
    echo "Usage: $1 {start|stop|status|restart|uninstall}"
    exit 1
esac

exit 0
